*.diff
*.patch
*.orig
*.rej

*~
.#*
*#

*.la
*.lo
*.o
*.in
*.guess
*.sub
*.cache
*.log
*.trs

.deps
.libs

/m4
aclocal.m4
ar-lib
compile
configure
config.h
config.status
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
TAGS
